In [12]:
import pandas as pd
import numpy as np

In [55]:
data = pd.read_csv('BirdCLEF2020_Validation_Audio_and_Ground_Truth/scripts/perfect_run.csv',sep=';', header=None)

In [56]:
data.head(10)

       0                  1        2    3
0  PER49  00:00:00-00:00:05  cintin1  1.0
1  PER49  00:00:05-00:00:10  cintin1  1.0
2  PER49  00:00:05-00:00:10  citwoo1  1.0
3  PER49  00:00:10-00:00:15  butwoo1  1.0
4  PER49  00:00:10-00:00:15  cintin1  1.0
5  PER49  00:00:15-00:00:20  cintin1  1.0
6  PER49  00:00:20-00:00:25  cintin1  1.0
7  PER49  00:00:30-00:00:35  cintin1  1.0
8  PER49  00:00:35-00:00:40  cintin1  1.0
9  PER49  00:00:40-00:00:45  cintin1  1.0

In [57]:
data = data.to_numpy()

In [58]:
data

array([['PER49', '00:00:00-00:00:05', 'cintin1', 1.0],
       ['PER49', '00:00:05-00:00:10', 'cintin1', 1.0],
       ['PER49', '00:00:05-00:00:10', 'citwoo1', 1.0],
       ...,
       ['SSW54', '00:06:55-00:07:00', 'eawpew', 1.0],
       ['SSW54', '00:07:00-00:07:05', 'eawpew', 1.0],
       ['SSW54', '00:07:05-00:07:10', 'eawpew', 1.0]], dtype=object)

In [59]:
len(data)

2181

In [103]:
def chack(pre, cur):
    if cur[1] == pre[1]:
        pass
    else:
        return list(cur)

In [104]:
lst = []
for i in range(1, len(data)):
    condata = chack(data[i-1], data[i])
    lst.append(condata)

In [105]:
lstt = list(filter(None, lst))

In [107]:
dataa = pd.DataFrame(lstt)

In [110]:
dataa.to_csv('validation.csv', sep=';')

In [50]:
che = chack(data[1], data[2])

In [51]:
che

In [29]:
data[0][1]

'00:00:05-00:00:10'

In [30]:
data[1][1]

'00:00:05-00:00:10'

In [31]:
data[0][1] == data[1][1]

True

In [34]:
data[len(data)+1]

IndexError: index 2181 is out of bounds for axis 0 with size 2180